[[source]]

url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "aliyun"


[packages]

aiohttp = "*"
aliyunsdkcore = "*"
aliyun-python-sdk-kms = "*"


[dev-packages]

jedi = "*"
neovim = "*"
python-language-server = "*"
pytest = "*"
pytest-asyncio = "*"
